<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @fantasy_player.owner %>
</p>

<p>
  <b>Player:</b>
  <%= @fantasy_player.player %>
</p>

<p>
  <b>Status:</b>
  <%= @fantasy_player.status %>
</p>

<p>
  <b>Week:</b>
  <%= @fantasy_player.week %>
</p>


<%= link_to 'Edit', edit_fantasy_player_path(@fantasy_player) %> |
<%= link_to 'Back', fantasy_players_path %>
