<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>School</th>
    <th>Ultimate team</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Club team</th>
    <th></th>
    <th></th>
  </tr>
<% @players.each do |player| %>
  <tr>
    <td><%= player.number %></td>
    <td><%= player.name %></td>
    <td><%= player.school %></td>
    <td><%= player.ultimate_team.name %></td>
    <td><%= player.height %></td>
    <td><%= player.weight %></td>
    <td><%= player.club_team %></td>
    <td><%= button_to 'Draft', { :action => "draft", :method => :post,
      :player => player, :new_owner => "1" }
      %></td>
  </tr>
<% end %>
</table>
