<h1>Owners and their Teams</h1>
<% if not user_signed_in? %>
  <h4 class="info_box"><%= link_to "Sign in", new_user_session_path %> to access your roster</h3>
<% end %>

<% @players_by_owner.keys.each do |owner| %>
  <h2><%= owner.name %></h2>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Ultimate team</th>
      <th>School</th>
      <th>Club team</th>
      <th>Height</th>
      <th>Weight</th>
    </tr>

    <% @players_by_owner[owner].each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.number %></td>
        <td><%= player.ultimate_team.name %></td>
        <td><%= player.school %></td>
        <td><%= player.club_team %></td>
        <td><%= player.height %></td>
        <td><%= player.weight %></td>
      </tr>
    <% end %>
  </table>
  <p> <%= @players_by_owner[owner].length %> players </p>
<% end %>

<br />

<%= link_to 'New Owner', new_owner_path %>
