<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @owner.name %>
  <br>
  <b>Owner:</b>
  <%= @owner.user.email %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
