<h1><%=@page_title%></h1>

<h4>Remember - you get six starters and one negative</h4>

<table class="table table-bordered table-striped">
  <tr>
    <th>
      <h3>Starters</h3>
    </th>
    <th></th>
  </tr>
  <% @players_by_status[FantasyPlayer::START].each do |fantasy_player| %>
    <tr>
      <td><%= fantasy_player.player.name %></td>
      <td>
        <%= button_to "Move to Bench", {:controller => 'fantasy_players',
        :action => 'change_status', :id => fantasy_player.id,
        :status => FantasyPlayer::BENCH}, :method => :change_status %>
      </td>
    </tr>
  <% end %>
</table>

<br>

<table>
  <tr>
    <th>
      <h3>Negative</h3>
    </th>
  </tr>
  <% @players_by_status[FantasyPlayer::NEGATIVE].each do |fantasy_player| %>
    <tr>
      <td><%= fantasy_player.player.name %></td>
      <td>
        <%= button_to "Move to Bench", {:controller => 'fantasy_players',
        :action => 'change_status', :id => fantasy_player.id,
        :status => FantasyPlayer::BENCH}, :method => :change_status %>
      </td>
    </tr>
  <% end %>
</table>

<br>

<table>
  <tr>
    <th>
      <h3>Bench</h3>
    </th>
  </tr>
  <% @players_by_status[FantasyPlayer::BENCH].each do |fantasy_player| %>
    <tr>
      <td><%= fantasy_player.player.name %></td>
      <td>
        <%= button_to "Set Starter", {:controller => 'fantasy_players',
        :action => 'change_status', :id => fantasy_player.id,
        :status => FantasyPlayer::START}, :method => :change_status %>
      </td>
      <td>
        <%= button_to "Set Negative", {:controller => 'fantasy_players',
        :action => 'change_status', :id => fantasy_player.id,
        :status => FantasyPlayer::NEGATIVE}, :method => :change_status %>
      </td>
    </tr>
  <% end %>
</table>
