<h1>Players</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>School</th>
    <th>Ultimate team</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Club team</th>
    <% if is_admin? %>
      <th></th>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.number %></td>
    <td><%= player.name %></td>
    <td><%= player.school %></td>
    <td><%= player.ultimate_team.name %></td>
    <td><%= player.height %></td>
    <td><%= player.weight %></td>
    <td><%= player.club_team %></td>
    <% if is_admin? %>
      <td><%= link_to 'Show', player %></td>
      <td><%= link_to 'Edit', edit_player_path(player) %></td>
      <td><%= link_to 'Destroy', player, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
