<!DOCTYPE html>
<html>
<head>
  <title>Fantasy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Pleasant Ultimate Fantasy</a>
        <ul class="nav">
          <li class="active"><a href="/owners">Teams</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="/sign_in">Sign In</a></li>
        </ul>
      </div>
    </div>
  </div>

  <% if flash[:error] %>
    <h3 class="error_box"><%= flash[:error] %> </h3>
  <% end %>
  <% if flash[:notice] %>
    <h3 class="info_box"><%= flash[:notice] %> </h3>
  <% end %>


<%= yield %>

</body>
</html>
