<!DOCTYPE html>
<html>
<head>
  <title>Fantasy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:error] %>
    <h3 class="error_box"><%= flash[:error] %> </h3>
  <% end %>
  <% if flash[:notice] %>
    <h3 class="info_box"><%= flash[:notice] %> </h3>
  <% end %>


<%= yield %>

</body>
</html>
