<!DOCTYPE html>
<html>
<head>
  <title>Fantasy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="n-au3zk2Fsj23euRXbXppbnNSimfstcOm5OjLNzjyFQ" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Pleasant Ultimate Fantasy</a>
        <ul class="nav">
          <li class="active"><a href="/owners">Teams</a></li>
          <li class="active"><a href="/players">All Players</a></li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li class="active"><a href="/roster/index">My Roster</a></li>
            Signed in as <%= current_user.email %>.
            <%= link_to "Sign out", destroy_user_session_path,
                :method => :delete %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <% if flash[:error] %>
    <h3 class="error_box"><%= flash[:error] %> </h3>
  <% end %>
  <% if flash[:notice] %>
    <h3 class="info_box"><%= flash[:notice] %> </h3>
  <% end %>


  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
